Repository bank-vaults/secrets-webhook, pull requests merged in 2024-08, with the labels that each got.

#132 feat: add e2e test for docker auth with _json_key
  e2e/deploy/vault/vault.yaml
  e2e/test/secret-docker-json-key-vault.yaml
  e2e/webhook_test.go
  pkg/provider/bao/secret.go
  pkg/provider/common/secret.go
  pkg/provider/vault/secret.go
Labels: kind/test, size/M

#127 feat: add chart signing
  .github/workflows/artifacts.yaml
Labels: size/S, area/pipeline, kind/enhancement

#105 feat: improve e2e tests
  e2e/main_test.go
  e2e/test/deployment-init-seccontext-vault.yaml
  e2e/test/deployment-seccontext-vault.yaml
  e2e/test/deployment-vault.yaml
  e2e/webhook_test.go
Labels: kind/test, size/M, area/test, kind/enhancement

#131 feat: AWS support secrets
  .github/workflows/ci.yaml
  Makefile
  docker-compose.yaml
  e2e/webhook_test.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/provider/aws/config.go
  pkg/provider/aws/configmap.go
  pkg/provider/aws/mutator.go
  pkg/provider/aws/object.go
  pkg/provider/aws/pod.go
  pkg/provider/aws/provider.go
  pkg/provider/aws/secret.go
  pkg/provider/bao/config.go
  pkg/provider/bao/secret.go
  pkg/provider/vault/secret.go
  pkg/webhook/webhook.go
Labels: size/L, kind/feature

#143 chore: remove obsolete build tag
  e2e/main_test.go
  e2e/webhook_test.go
  pkg/provider/vault/configmap_test.go
Labels: size/XS, kind/cleanup

#141 feat: AWS support configmap mutation
  pkg/provider/aws/common.go
  pkg/provider/aws/configmap.go
  pkg/provider/aws/secret.go
  pkg/provider/bao/configmap.go
  pkg/provider/bao/mutator.go
  pkg/provider/bao/object.go
  pkg/provider/bao/secret.go
  pkg/provider/common/configmap.go
  pkg/provider/vault/configmap.go
  pkg/provider/vault/mutator.go
  pkg/provider/vault/object.go
  pkg/provider/vault/secret.go
Labels: size/M, kind/feature, area/provider/aws

#142 feat: AWS support object mutation
  pkg/provider/aws/common.go
  pkg/provider/aws/object.go
  pkg/provider/aws/secret.go
  pkg/provider/bao/configmap.go
  pkg/provider/vault/configmap.go
Labels: size/M, kind/feature, area/provider/aws

#151 feat: add hpa capabilites to helm-chart
  deploy/charts/secrets-webhook/README.md
  deploy/charts/secrets-webhook/templates/_helpers.tpl
  deploy/charts/secrets-webhook/templates/hpa.yaml
  deploy/charts/secrets-webhook/values.yaml
Labels: size/S, kind/feature

#152 feat: AWS support pod mutation
  pkg/common/common.go
  pkg/provider/aws/config.go
  pkg/provider/aws/mutator.go
  pkg/provider/aws/pod.go
  pkg/provider/bao/pod.go
  pkg/provider/common/pod.go
  pkg/provider/vault/pod.go
Labels: size/L, kind/feature, area/provider/aws
